<div ng-controller="FotosController">

    <div class="jumbotron">
        <h1 class="text-center">Alurapic</h1>
    </div>

    <div class="row">

        <div class="col-md-12 col-xs-12">

            <div class="well well-sm">
                <div class="btn-group">
    
                    <a href="/fotos/new" class="btn btn-primary">Nova Imagem</a>
                            
                </div>
            </div>

            <p ng-show="mensagem.length" class="alert alert-info">
                {{mensagem}}
            </p>

            <form>
                <div class="form-group">

                    <div class="input-group">

                        <label for="filtroImagem">Nome:</label>
                        <input ng-model-options="{debounce : 500}" ng-model="filtro" class="form-control" id="filtroImagem" type="text" name="" placeholder="filtrar" />
                        

                    </div>

                </div>
            </form>

        </div>

    </div>

    <div class="row">

        <meu-painel class="col-md-2 col-xs-12 painel-animado" ng-repeat="foto in fotos | filter : {titulo:filtro}" titulo="{{foto.titulo}}">

            <minha-foto url={{foto.url}} alt="{{foto.titulo}}"></minha-foto>
            
            <a class="btn btn-primary btn-block" href="fotos/edit/{{foto._id}}">Editar</a>
            <remover acao="remover(foto)"></remover>
            
        </meu-painel>

    </div>
</div>
